<script type="text/template" id="profesorList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Name</th>
		 <th>Anios Experiencia</th>
		 <th>Num Publicaciones</th>
		 <th>Fecha Vinculacion</th>
                 <th>Tipo de profesor</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(profesors, function(profesor) { %>
    <tr>
		<td><%= htmlEncode(profesor.getDisplay('name')) %></td>
		<td><%= htmlEncode(profesor.getDisplay('aniosExperiencia')) %></td>
		<td><%= htmlEncode(profesor.getDisplay('numPublicaciones')) %></td>
		<td><%= htmlEncode(profesor.getDisplay('fechaVinculacion')) %></td>
                <td><a onclick="Backbone.trigger('<%= componentId %>-profesor-tipo',{aniosExperiencia:<%= profesor.aniosExperiencia %>,numPublicaciones:<%= profesor.numPublicaciones %>}); return false;" >Ver Tipo</a></td>
                
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-profesor-edit',{id:<%= profesor.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-profesor-delete',{id:<%= profesor.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="profesor">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-profesorForm">
    <% if(profesor.id) {%>
    <input type="hidden" name="id" value="<%= profesor.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= profesor.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="aniosExperiencia">Anios Experiencia</label>
    	<input type="text" class="form-control" id="aniosExperiencia" name="aniosExperiencia" placeholder="Enter value" value="<%= profesor.get('aniosExperiencia') %>"/>	
		</div>
		<div class="form-group" >
		<label for="numPublicaciones">Num Publicaciones</label>
    	<input type="text" class="form-control" id="numPublicaciones" name="numPublicaciones" placeholder="Enter value" value="<%= profesor.get('numPublicaciones') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fechaVinculacion">Fecha Vinculacion</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaVinculacion"  name="fechaVinculacion" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fechaVinculacion').datepicker({autoclose:true});
        	$('#fechaVinculacion').datepicker('setDate',App.Utils.Converter.date.toDate("<%= profesor.get('fechaVinculacion') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
    </form>
    </div>
</script> 